.classpath
.project
.settings/
grails-app/i18n/messages_cs_CZ.properties
grails-app/i18n/messages_da.properties
grails-app/i18n/messages_de.properties
grails-app/i18n/messages_es.properties
grails-app/i18n/messages_fr.properties
grails-app/i18n/messages_it.properties
grails-app/i18n/messages_ja.properties
grails-app/i18n/messages_nl.properties
grails-app/i18n/messages_pt_BR.properties
grails-app/i18n/messages_pt_PT.properties
grails-app/i18n/messages_ru.properties
grails-app/i18n/messages_sv.properties
grails-app/i18n/messages_th.properties
grails-app/i18n/messages_zh_CN.properties
target/
testscaffolding200-grailsPlugins.iml
testscaffolding200.iml
testscaffolding200.ipr
testscaffolding200.iws
