.home {
    display:none;
}

#topbar {
    padding: 0 1em;
    text-align: right;
}

#logo {
    float: left;
}

/* --------------------------------------*/
/* FOOTER                                */
/* --------------------------------------*/
#footer {
    height: 20px;
    clear: both;
    padding: 5px;
    background-color: #4a88ed;
    color: white;
    font-weight: bold;
}

#footer .tandc {
    float: right;
    padding: 0 1em;
}

#footer a {
    color: white;

}

#footer .copyright {
    float: left;
    padding: 0 1em;
}

#secondJumpMessage {
	display: none;
}

#calendar {
	width: 900px;
	margin: 0 auto;
}

.template {
    display: none;
}

a.removeButton {
    color: red;
}

a.addButton {
    color: green;
}

.apple .sublevel.hover {				
    background-color: #A0CCFF; 
}

.fieldcontain label {
    padding-right: 1em;
}

.fieldcontain div {
    padding-left: 25%;

}

ul {
    list-style: disc inside none;
}

.jumpdata input, .jumpdata textarea, .jumpdata select, .jumpdata .uneditable-input {
    width: auto;
}